<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<div th:replace="fragments::header"/>
<h1>Pegsolitaire</h1>

<div class="pegsControl">

    <a class="abutton" href="/pegsolitaire/standard">STANDARD</a>
    <a class="abutton" href="/pegsolitaire/european">EUROPEAN</a>
    <a class="abutton" href="/pegsolitaire/diamond">DIAMOND</a>
    <a class="abutton" href="/pegsolitaire/test">TEST</a>
    <a class="abutton" href="/pegsolitaire/playerfeedback">FEEDBACK</a>

</div>


<div th:utext="${@pegsolitaireController.htmlField}"></div>


<table class="scores">
    <thead>
    <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Played on</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${topscores}">
        <td th:text="${score.player}"/></td>
        <td th:text="${score.points}"/></td>
        <td th:text="${score.playedOn}"/></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments::footer"/>
</body>
</html>