<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a class="abutton" href="/pegsolitaire">Return to game</a>
<span th:if="${@userController.logged}">
    Logged in as: <span th:text="${@userController.loggedUser.login}"/><br/>
</span>
<span th:if="not ${@userController.logged}">
        If you want to comment/rate, please
        <a href="/">login</a>.<br/>
    </span>
<form th:if="${@userController.logged}" action="/pegsolitaire/addcomment" method="post">
    Comment: <input type="text" name="text" maxlength="200"/>
    <input type="submit"/>
</form>



<form th:if="${@userController.logged}" action="/pegsolitaire/rate" method="post">
    Rating: <input type="range" value="3" name = "rating" min="1" max="5" oninput="this.nextElementSibling.value = this.value"/>
    <output>3</output>
    <input type="submit"/>
</form>


Average rating: <span th:text="${averagerating}"/><br/>


<table class="comments">
    <thead>
    <tr>
        <th>Player</th>
        <th>Comment</th>
        <th>Commented on</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${latestcomments}">
        <td th:text="${comment.player}"/></td>
        <td th:text="${comment.comment}"/></td>
        <td th:text="${comment.commentedOn}"/></td>
    </tr>
    </tbody>
</table>

</body>
</html>